/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}


.header_img {
  background-image: url('../../static/img/home_img.jpg');
  background-color: #9dd3bf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_titles {
  color: white;
  text-shadow: 2px 2px 4px #000000, 0px 0px 10px #000000;
}


.home_section {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 80%;
  margin: 0 10%;
}

.home_section_sub_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
